<!--Navigation Bar -->

<div class="container-fluid body">
        
    <!-- Content Screen -->
    <div class="container-fluid mt-2">
    
        <div class="row tableCss">
            <div class="col-md-3">
                <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3">
                
               <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                           
                <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
           
            </div>
            <div class="col-md-3">
                
                <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
           
            </div>
        </div>
    
        <div class="row mt-1 mb-2 tableCss">
            <div class="col-md-3">
                
                <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            
            </div>
            <div class="col-md-3">
                
                <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
           
            </div>
            <div class="col-md-3">
               
                <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
           
            </div>
            <div class="col-md-3">
                
                <div class="dropdown">
                    NAME: <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            
            </div>
        </div>
    
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="btn-group btn-group-md">
                     
                    <button class="btn btn-outline-primary" type="button">
                        <em class="glyphicon glyphicon-align-left"></em> Search
                    </button> 
                    <button class="btn btn-outline-success" type="button">
                        <em class="glyphicon glyphicon-align-center"></em> Add Row
                    </button> 
                    <button class="btn btn-outline-warning" type="button">
                        <em class="glyphicon glyphicon-align-right"></em> Export
                    </button> 
                    <button class="btn btn-outline-danger" type="button">
                        <em class="glyphicon glyphicon-align-justify"></em> Import
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!--Table Content -->
        <main class="container-fluid mt-2">
            <table class="table table-bordered table-definition mb-5">
                <thead class="table-warning ">
                    <tr>
                        <th>Action</th>
                        <th>Inc#</th>
                        <th>Module</th>
                        <th>Incident</th>
                        <th>Priority</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>John Lilki</td>
                        <td>September 14, 2013</td>
                        <td>jhlilk22@yahoo.com</td>
                        <td>No</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="4">
                            <button class="btn btn-warning float-right">Edit</button>
                            <button class="btn btn-primary float-right">Save</button>
                            <button class="btn btn-danger float-right">Delete</button>
                        </th>
                    </tr>
                </tfoot>
            </table>        
        </main>
    
    
        
        </div>